body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: purple;
}

.highlight {
  background-color: yellow;
}

.error {
  background-color: lightcoral;
  border: red;
}
